body{
	background-color:#F8FAFC;
}
.bg-transparent{
	background-color: transparent;
}
.bg-grey{
	background-color: #52565e;
}

.bg-grey-light{
	background-color: #85888e;
}

.bg-grey-lighter{
	background-color: #a8aaae;
}

.bg-grey-lightest{
	background-color: #dcddde;
}

.bg-pink{
	background-color: #fd5c64;
}

.bg-pink-light{
	background-color: #FD7C83;
}

.bg-pink-lighter{
	background-color: #FD9DA2;
}

.bg-pink-lightest{
	background-color: #FEBDC1;
}
.hover-bg-pink:hover{
	background-color:#fd5c64;
}

.bg-blue{
	background-color: #204056;
}

.bg-blue-light{
	background-color: #4C6677;
}

.bg-blue-lighter{
	background-color: #798C99;
}

.bg-blue-lightest{
	background-color: #A5B2BB;
}