body{
	background-color:#f5f5f5;
	padding-top: 5.7rem;
}
.bg-hero{
	background: url(https://images.unsplash.com/photo-1493134799591-2c9eed26201a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8fe9893cbf297598290eb9dc4b0aa6c7&auto=format&fit=crop&w=2850&q=80) center center no-repeat;
}

.bg-iso{
	background: url(../images/bg.jpg) center center no-repeat;
}
.bg-transparent{
	background-color: transparent;
}

.bg-smoke{
	background-color: #fefefe;
}

.bg-grey{
	background-color: #52565e;
}

.bg-grey-light{
	background-color: #85888e;
}

.bg-grey-lighter{
	background-color: #a8aaae;
}

.bg-grey-lightest{
	background-color: #dcddde;
}

.bg-grey-dark{
	background-color: #41444B;
}

.bg-grey-darker{
	background-color: #313338;
}

.bg-grey-darkest{
	background-color: #202225;
}

.hover-bg-grey-lightest:hover{
	background-color:#dcddde;
	transition: 0.7s ease;
	
	border-radius: .25rem;
	padding-right: 1rem;

}

.bg-pink{
	background-color: #fd5c64;
}

.bg-pink-light{
	background-color: #FD7C83;
}

.bg-pink-lighter{
	background-color: #FD9DA2;
}

.bg-pink-lightest{
	background-color: #FEBDC1;
}

.bg-pink-dark{
	background-color: #CA4950;
}	

.bg-pink-darker{
	background-color: #97373C;
}

.bg-pink-darkest{
	background-color: #652428;
}


.hover-bg-pink:hover{
	background-color:#fd5c64;
}

.bg-blue{
	background-color: #204056;
}

.bg-blue-light{
	background-color: #4C6677;
}

.bg-blue-lighter{
	background-color: #798C99;
}

.bg-blue-lightest{
	background-color: #A5B2BB;
}

.bg-brand-blue{
	background-color: #095280;
}

.bg-brand-blue-light{
	background-color: #3A7499; 
}

.bg-brand-blue-lighter{
	background-color: #6B97B2; 
}

.bg-brand-blue-lightest{
	background-color: #9CB9CC; 
}

.bg-brand-blue-dark{
	background-color: #084973; 
}

.bg-brand-blue-darker{
	background-color: #063959; 
}

.bg-brand-blue-darkest{
	background-color: #042940; 
}

.bg-orange{
	background-color: #FF8833;
}

.bg-orange-light{
	background-color: #FF9F5B;
}

.bg-orange-lighter{
	background-color: #FFB784;
}

.bg-orange-lightest{
	background-color: #FFCFAD;
}

.bg-orange-dark{
	background-color: #CC6C28;
}

.bg-orange-darker{
	background-color: #99511E;
}

.bg-orange-darkest{
	background-color: #663614;
}

.bg-red{
	background-color: #ed1c16;
}

.bg-red-light{
	background-color: #F04A44;
}

.bg-red-lighter{
	background-color: #F47773;
}

.bg-red-lightest{
	background-color: #F7A4A1;
}

.bg-red-dark{
	background-color: #BD1711;
}

.bg-red-darker{
	background-color: #8E110D;
}

.bg-red-darkest{
	background-color: #5E0B08;
}

.bg-green{
	background-color: #34a853;
}

.bg-green-light{
	background-color: #5CB975;
}

.bg-green-lighter{
	background-color: #85CA97;
}

.bg-green-lightest{
	background-color: #ADDCBA;
}

.bg-green-dark{
	background-color: #298642;
}

.bg-green-darker{
	background-color: #1F6431;
}

.bg-green-darkest{
	background-color: #144321;
}

.bg-purple{
	background-color: #554488;
}

.bg-purple-light{
	background-color: #77699F;
}

.bg-purple-lighter{
	background-color: #998EB7;
}

.bg-purple-lightest{
	background-color: #BBB4CF;
}

.bg-purple-dark{
	background-color: #44366C;
}

.bg-purple-darker{
	background-color: #332851;
}

.bg-purple-darkest{
	background-color: #221B36;
}

.hover-bg-brand-blue:hover{
	background-color: #095280;
}

.hover-bg-brand-blue-light:hover{
	background-color: #3A7499; 
}

.hover-bg-brand-blue-lighter:hover{
	background-color: #6B97B2; 
}

.hover-bg-brand-blue-lightest:hover{
	background-color: #9CB9CC; 
}

.hover-bg-brand-blue-dark:hover{
	background-color: #084973; 
}

.hover-bg-brand-blue-darker:hover{
	background-color: #063959; 
}

.hover-bg-brand-blue-darkest:hover{
	background-color: #042940; 
}

.bg-cover{
	background-size: cover;
}

.bg-inherit{
	background-size: inherit;
}

.bg-auto{
	background-size: auto;
}

.bg-contain{
	background-size: contain;
}

.bg-initial{
	background-size: initial;
}
.bg-brand-blue-gr{
background: linear-gradient(to bottom, rgba(9,82,128,1) 0%,rgba(67,134,180,1) 50%,rgba(125,185,232,1) 100%);

}

.bg-multiply{
	background-blend-mode: overlay;
}

