.rounded-none{
	border-radius: 0rem;
}
.rounded{
	border-radius: .30rem;
}

.rounded-md{
	border-radius: .45rem;
}

.rounded-lg{
	border-radius: .60rem;
}
.rounded-all{
	border-radius: 9999px;
}

.border-none{
	border: none;
}

.border-solid{
	border-style: solid;
}

.border-dashed{
	border-style: dashed; 
}

.border-dotted{
	border-style: dotted;
}
.border-left{
	border-left: 7px solid #204056;
}

.box-shadow{
	box-shadow: 0 1rem 1.5rem 0 rgba(0,0,0,0.10);
}

.box-shadow-md{
	box-shadow: 0 1rem 1.5rem 0 rgba(0,0,0,0.15);
}

.box-shadow-lg{
	box-shadow: 0 1rem 1.5rem 0 rgba(0,0,0,0.25);
}

.bc-grey{
	border-color: #52565e;
}

.bc-grey-light{
	border-color: #85888e;
}

.bc-grey-lighter{
	border-color: #a8aaae;
}

.bc-grey-lightest{
	border-color: #dcddde;
}

.bc-pink{
	border-color: #fd5c64;
}

.bc-pink-light{
	border-color: #FD7C83;
}

.bc-pink-lighter{
	border-color: #FD9DA2;
}

.bc-pink-lightest{
	border-color: #FEBDC1;
}

.bc-blue{
	border-color: #204056;
}

.bc-blue-light{
	border-color: #4C6677;
}

.bc-blue-lighter{
	border-color: #798C99;
}

.bc-blue-lightest{
	border-color: #A5B2BB;
}

.bc-orange{
	border-color: #ff8833;
}

.bc-orange-light{
	border-color: #FF9F5B;
}

.bc-orange-lighter{
	border-color: #FFB784;
}

.bc-orange-lightest{
	border-color: #FFCFAD;
}

.bc-red{
	border-color: #ed1c16;
}

.bc-red-light{
	border-color: #F04A44;
}

.bc-red-lighter{
	border-color: #F47773;
}

.bc-red-lightest{
	border-color: #F7A4A1;
}

.bc-green{
	border-color: #34a853;
}

.bc-green-light{
	border-color: #5CB975;
}

.bc-green-lighter{
	border-color: #85CA97;
}

.bc-green-lightest{
	border-color: #ADDCBA;
}

.bc-purple{
	border-color: #554488;
}

.bc-purple-light{
	border-color: #77699F;
}

.bc-purple-lighter{
	border-color: #998EB7;
}

.bc-purple-lightest{
	border-color: #BBB4CF;
}

.bc-yellow{
	border-color: #fdc800;
}

.bc-yellow-light{
	border-color: #FDD133;
}

.bc-yellow-lighter{
	border-color: #FDDC66;
}

.bc-yellow-lightest{
	border-color: #FEE899;
}






