.appear-none{
	appearance: none;
}
.hide{
	display: none;
}

.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}
.block{
	display: block;
}

.overflow-hidden{
	overflow: hidden;
}
.y-scroll{
	overflow-y: scroll;
}
.x-of-none{
	overflow-x: hidden;
}

.fixed-top{
	position: fixed;
	top: 0; left: 0;
	width: 100%; 
}

.relative{
	position: relative;
}
@media only screen and (min-device-width : 320px){
			

			.sm-container{
				max-width: 480px;
			}

			.sm-hide{
				display: none;
			}

			.sm-inline{
				display: inline;
			}

			.sm-inline-block{
				display: inline-block;
			}
			.sm-bg-red{
				background-color: red;
			}

			.sm-block{
				display: block;
			}



		}

@media only screen and (min-device-width : 768px){
			.md-hide{
				display: none;
			}

			.md-inline{
				display: inline;
			}

			.md-inline-block{
				display: inline-block;
			}
			.md-block{
				display: block;
			}



}


@media only screen  and (min-width : 1224px){
			.lg-hide{
				display: none;
			}

			.lg-inline{
				display: inline;
			}

			.lg-inline-block{
				display: inline-block;
			}

			.lg-block{
				display: block;
			}

			
	


}