.flex{
  display: flex;
}

.flex-grow{
	flex-grow: 1;
}

.flex-row{
	flex-direction: row;
}

.direction-reverse{
  flex-direction: row-reverse;
}

.wrap{
	flex-wrap: wrap;
}

.no-wrap{
	flex-wrap: nowrap;
}

.flex-col{
	flex-direction: column;
}

.flex-col-reverse{
	flex-direction: column-reverse;
}

.flex-initial{
	flex-direction: initial;
}

.flex-inherit{
	flex-direction: inherit;
}

.flex-no-shrink{
	flex-shrink: 0;
}

.inline-flex{
	display: inline-flex;
}

.items-center{
  align-items: center;
}

.items-end{
  align-items: flex-end;
}

.items-start{
  align-items: flex-start;
}

.justify-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: flex-end;
}

.justify-start{
  justify-content: flex-start;
}