.hover-text-transparent:hover{
	color: transparent;
}

.hover-text-black:hover{
	color: #181e23;
}

.hover-text-grey:hover{
	color: #52565e;
}

.hover-text-grey-light:hover{
	color: #85888e;
}

.hover-text-grey-lighter:hover{
	color: #a8aaae;
}

.hover-text-grey-lightest:hover{
	color: #dcddde;
}

.hover-text-pink:hover{
	color: #fd5c64;
}

.hover-text-pink-light:hover{
	color: #FD7C83;
}

.hover-text-pink-lighter:hover{
	color: #FD9DA2;
}

.hover-text-pink-lightest:hover{
	color: #FEBDC1;
}

.hover-text-blue:hover{
	color: #204056;
}

.hover-text-blue-light:hover{
	color: #4C6677;
}

.hover-text-blue-lighter:hover{
	color: #798C99;
}

.hover-text-blue-lightest:hover{
	color: #A5B2BB;
}

.hover-text-orange:hover{
	color: #ff8833;
}

.hover-text-orange-light:hover{
	color: #FF9F5B;
}

.hover-text-orange-lighter:hover{
	color: #FFB784;
}

.hover-text-orange-lightest:hover{
	color: #FFCFAD ;
}

