.hover-text-transparent:hover{
	color: transparent;
}

.hover-text-black:hover{
	color: #181e23;
}

.hover-text-grey-dark:hover{
	color:#41444B;
}

.hover-text-grey:hover{
	color: #52565e;
}

.hover-text-grey-light:hover{
	color: #85888e;
}

.hover-text-grey-lighter:hover{
	color: #a8aaae;
}

.hover-text-grey-lightest:hover{
	color: #dcddde;
}

.hover-text-pink:hover{
	color: #fd5c64;
}

.hover-text-pink-light:hover{
	color: #FD7C83;
}

.hover-text-pink-lighter:hover{
	color: #FD9DA2;
}

.hover-text-pink-lightest:hover{
	color: #FEBDC1;
}

.hover-text-blue:hover{
	color: #204056;
}

.hover-text-blue-light:hover{
	color: #4C6677;
}

.hover-text-blue-lighter:hover{
	color: #798C99;
}

.hover-text-blue-lightest:hover{
	color: #A5B2BB;
}

.hover-text-orange:hover{
	color: #ff8833;
}

.hover-text-orange-light:hover{
	color: #FF9F5B;
}

.hover-text-orange-lighter:hover{
	color: #FFB784;
}

.hover-text-orange-lightest:hover{
	color: #FFCFAD ;
}

.hover-text-brand-blue:hover{
	color: #095280;
}

.hover-text-brand-blue-light:hover{
	color: #3A7499;
}

.hover-text-brand-blue-lighter:hover{
	color: #6B97B2;
}

.hover-text-brand-blue-lightest:hover{
	color: #9CB9CC;
}

.hover-text-brand-blue-dark:hover{
	color: #084973;
}

.hover-text-brand-blue-darker:hover{
	color: #063959;
}

.hover-text-brand-blue-darkest:hover{
	color: #042940;
}

